﻿<div class="modal-body">
    <form id="productEntryForm">
        <div class="row mb-3">
            <label for="serialNumber" class="col-sm-4 col-form-label">Serial Number</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="serialNumber" name="SerialNumber" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="name" class="col-sm-4 col-form-label">Product Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="name" name="Name" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="quantity" class="col-sm-4 col-form-label">Quantity</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="quantity" name="Quantity" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="price" class="col-sm-4 col-form-label">Price</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="price" name="Price" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="warrantyDays" class="col-sm-4 col-form-label">Warranty (Days)</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="warrantyDays" name="WarrantyDays" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="category" class="col-sm-4 col-form-label">Category</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="category" name="Category" required>
            </div>
        </div>


        <div class="row mb-3">
            <label for="vendorID" class="col-sm-4 col-form-label">Vendor ID</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="vendorID" name="VendorID" required>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-success m-1">Ok</button>
            <button type="button" class="btn btn-secondary m-1" id="cancelProductEntry">Cancel</button>
        </div>
    </form>
</div>
