html,body {
    background: linear-gradient(106.8deg, rgb(117, 255, 220) 6%, rgb(163, 216, 255) 47.6%, rgb(248, 215, 251) 87.8%);
    height: 100%;
    margin:0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 15px;
}

.form-card {
    border-radius: 15px;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-title {
    color:black;
    text-align:center;
    font-weight:bold;
}

.form-btn {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-style: none;
    border-radius: 15px;
    font-weight: bold;
}

.custom-checkbox {
    width: 1.25rem;
    height: 1.25rem;
}


.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

