@model InventoryManagement.Models.Account
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/Style/LoginStyleSheet.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

</head>
<body>

    <div class="login-container">
        <div class="card form-card">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm" }))
            {
                <div class="card-body p-5">
                    <h3 class="mb-4 form-title">Login</h3>
                    <div class="form-outline mb-4">
                        <label for="userName" class="form-label">Username</label>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id = "userName", placeholder = "Enter your username", data_val = "true" })
                        <span class="error-message" id="usernameError"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <label for="password" class="form-label">Password</label>
                        @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "form-control", id = "password", placeholder = "Enter your password", data_val = "true" })
                        <span class="error-message" id="passwordError"></span>
                    </div>
                    <div class="form-check d-flex align-items-center mb-4">
                        <input class="form-check-input custom-checkbox" style="border: 1px solid #212529" type="checkbox" id="showPass" />
                        <label class="form-check-label ms-2" for="showPass">Show password</label>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="form-btn btn-primary" name="btnSubmit" value="Login">Login</button>
                    </div>
                </div>
            }
        </div>
    </div>


    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    <script src="~/Scripts/CustomScript/loginValidation.js"></script>


</body>
</html>
