@model InventoryManagement.Models.Report
<!--Card-->
<div class="card-section">
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card" style="background-color: #5592ed">
                <div class="card-body">
                    <i class="bi bi-person-vcard-fill"></i>
                    <p>Total Employee</p>
                    <h3>10</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="background-color:#3ece9c">
                <div class="card-body">
                    <i class="bi bi-diagram-3"></i>
                    <p>Categories</p>
                    <h3>30</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="background-color: #57f646">
                <div class="card-body">
                    <i class="bi bi-box-seam"></i>
                    <p>Total Product</p>
                    <h3>1350</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="background-color: #f84848">
                <div class="card-body">
                    <i class="bi bi-cart-x"></i>
                    <p>Out of Stock</p>
                    <h3>30</h3>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card" style="background-color: #cb8bf8">
                <div class="card-body">
                    <i class="bi bi-person-video2"></i>
                    <p>Total Customer</p>
                    <h3>378</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="background-color:#f79696">
                <div class="card-body">
                    <i class="bi bi-calendar3-event"></i>
                    <p>Today's Sale</p>
                    <h3>@Model.DailySales</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="background-color: #e944f5">
                <div class="card-body">
                    <i class="bi bi-calendar3"></i>
                    <p>Monthly Sales</p>
                    <h3>@Model.MonthlySales</h3>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="background-color: #90c3f3">
                <div class="card-body">
                    <i class="bi bi-receipt"></i>
                    <p>Yearly Sales</p>
                    <h3>@Model.YearlySales</h3>
                </div>
            </div>
        </div>

    </div>
</div>
<!--End of Card-->
