@using InventoryManagement.Models;﻿
@using System.Data;
<script>
    //$(document).ready(function () {
    //    $('#txtEntryDate').datepicker();
    //})
</script>


<div id="dvPartialCustomerEntryPanel" style="display:none">

    @using (Html.BeginForm("Dashboard", "Home"))
    {
        <div class="row">
            <div class="col col-sm-2">
                Select Customer
            </div>
            <div class="col col-sm-4">
                <select name="ddlPartialCustomerName">
                    <option value="0">--Select--</option>

                    @{
                        System.Data.DataTable dataTable = (System.Data.DataTable)ViewBag.dtCusTEquip;
                        var pdata = (from p in dataTable.AsEnumerable()
                                     select new
                                     {

                                         CustomerID = p.Field<Int32>("CustomerID"),
                                         CustomerName = p.Field<string>("CustomerName"),
                                         CustomerMobile = p.Field<string>("CustomerMobile"),
                                         EqCount = p.Field<Int32>("EqCount")
                                     }).ToList();

                        foreach (var obj in pdata)
                        {
                            <option value="@obj.CustomerID.ToString()">@obj.CustomerName</option>
                        }
                    }

                </select>
            </div>
            <div class="col col-sm-2">
                Select Equipment
            </div>
            <div class="col col-sm-4">
                <select name="ddlPartialEquipment">
                    <option value="0">--Select--</option>
                    @{
                        List<Equipment> equipmentListData = (List<Equipment>)ViewBag.equipmentDataList;

                        foreach (Equipment obj in equipmentListData)
                        {
                            <option value="@obj.EquipmentId">@obj.Name</option>
                        }
                    }

                </select>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-2">
                Quantity
            </div>
            <div class="col col-sm-4">
                <input type="text" name="txtPartialEquipmentQuantity" id="txtPartialEquipmentQuantity" />
            </div>
        </div>
        <div class="row">
            <input type="submit" name="btnSubmit" id="btnPartialSave" value="Save Assignment" />
        </div>
    }

</div> 