
@{
    ViewBag.Title = "Dashboard";
}


<!--Main body content-->
<!--Card-->
<div class="row mt-4">
    <div class="col-md-3">
        <div class="card" style="background-color: #5592ed">
            <div class="card-body">
                <i class="bi bi-person-vcard-fill"></i>
                <p>Total Employee</p>
                <h3>10</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="background-color:#3ece9c">
            <div class="card-body">
                <i class="bi bi-diagram-3"></i>
                <p>Categories</p>
                <h3>30</h3>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card" style="background-color: #57f646">
            <div class="card-body">
                <i class="bi bi-box-seam"></i>
                <p>Total Product</p>
                <h3>1350</h3>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card" style="background-color: #f84848">
            <div class="card-body">
                <i class="bi bi-cart-x"></i>
                <p>Out of Stock</p>
                <h3>30</h3>
            </div>
        </div>
    </div>

</div>

<div class="row mt-4">
    <div class="col-md-3">
        <div class="card" style="background-color: #cb8bf8">
            <div class="card-body">
                <i class="bi bi-person-video2"></i>
                <p>Total Customer</p>
                <h3>378</h3>
            </div>
        </div>
    </div>




    <div class="col-md-3">
        <div class="card" style="background-color:#f79696">
            <div class="card-body">
                <i class="bi bi-calendar3-event"></i>
                <p>Today's Sale</p>
                <h3>৳5500</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="background-color: #e944f5">
            <div class="card-body">
                <i class="bi bi-calendar3"></i>
                <p>Monthly Sales</p>
                <h3>৳155000</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="background-color: #90c3f3">
            <div class="card-body">
                <i class="bi bi-receipt"></i>
                <p>Yearly Sales</p>
                <h3>৳125000</h3>
            </div>
        </div>
    </div>


</div>
<!--End Of Card-->
<!--Graph & Chart-->
@*<div class="visual-container" id="report">
    <div class="graph-container">
        <canvas id="line-chart"></canvas>
    </div>
    <div class="graph-container">
        <canvas id="pie-chart"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
@Scripts.Render("~/bundles/custom_script")*@
<!--End of Graph & Chart-->
<!--Order Table-->

<div class="table-container">
    <div class="table-name">
        Order Table
    </div>
    <table>
        <thead>
            <tr>
                <th>Customer Number</th>
                <th>Customer Name</th>
                <th>Order Number</th>
                <th>Order Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12345</td>
                <td>Tamim</td>
                <td>001</td>
                <td>2024-02-15</td>
                <td>Shipped</td>
            </tr>
            <tr>
                <td>54321</td>
                <td>Shakib</td>
                <td>002</td>
                <td>2024-02-16</td>
                <td>Processing</td>
            </tr>

            <tr>
                <td>67890</td>
                <td>Musfiq</td>
                <td>003</td>
                <td>2024-02-17</td>
                <td>Delivered</td>
            </tr>
            <tr>
                <td>24680</td>
                <td>Mahmudulla</td>
                <td>004</td>
                <td>2024-02-18</td>
                <td>Processing</td>
            </tr>
            <tr>
                <td>13579</td>
                <td>Miraj</td>
                <td>005</td>
                <td>2024-02-19</td>
                <td>Shipped</td>
            </tr>
            <tr>
                <td>97531</td>
                <td>Mustafiz</td>
                <td>006</td>
                <td>2024-02-20</td>
                <td>Processing</td>
            </tr>
            <tr>
                <td>86420</td>
                <td>Taskin</td>
                <td>007</td>
                <td>2024-02-21</td>
                <td>Delivered</td>
            </tr>
            <tr>
                <td>31415</td>
                <td>Anamul</td>
                <td>008</td>
                <td>2024-02-22</td>
                <td>Shipped</td>
            </tr>
            <tr>
                <td>27182</td>
                <td>Imrul</td>
                <td>009</td>
                <td>2024-02-23</td>
                <td>Processing</td>
            </tr>
            <tr>
                <td>81828</td>
                <td>Gazi</td>
                <td>010</td>
                <td>2024-02-24</td>
                <td>Shipped</td>
            </tr>
        </tbody>
    </table>
</div>
<hr />
<!--End of Order Table-->
<!--Vendor Table-->

<div class=table-container>
    <div class="table-name">
        Vendor Table 
    </div>
    <table>
        <thead>
            <tr>
                <th>Supplier ID</th>
                <th>Supplier Name</th>
                <th>Product ID</th>
                <th>Product Quantity</th>
                <th>Unit Price</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>101</td>
                <td>Supplier A</td>
                <td>001</td>
                <td>50</td>
                <td>৳10</td>
                <td>In Stock</td>
            </tr>
            <tr>
                <td>102</td>
                <td>Supplier B</td>
                <td>002</td>
                <td>30</td>
                <td>৳15</td>
                <td>In Stock</td>
            </tr>
            <tr>
                <td>103</td>
                <td>Supplier C</td>
                <td>003</td>
                <td>20</td>
                <td>৳12</td>
                <td>Out of Stock</td>
            </tr>
            <tr>
                <td>104</td>
                <td>Supplier D</td>
                <td>004</td>
                <td>40</td>
                <td>৳18</td>
                <td>In Stock</td>
            </tr>
            <tr>
                <td>105</td>
                <td>Supplier E</td>
                <td>005</td>
                <td>60</td>
                <td>৳20</td>
                <td>In Stock</td>
            </tr>
            <tr>
                <td>106</td>
                <td>Supplier F</td>
                <td>006</td>
                <td>25</td>
                <td>৳22</td>
                <td>Processing</td>
            </tr>
            <tr>
                <td>107</td>
                <td>Supplier G</td>
                <td>007</td>
                <td>55</td>
                <td>৳16</td>
                <td>In Stock</td>
            </tr>
            <tr>
                <td>108</td>
                <td>Supplier H</td>
                <td>008</td>
                <td>45</td>
                <td>৳25</td>
                <td>Processing</td>
            </tr>
        </tbody>
    </table>
</div>
<hr />
<!--End of Vendor Table-->
<!--Employee Table-->


<div class="table-container">
    <div class="table-name">
        Employee Table
    </div>
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Salary</th>
                <th>Designation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>Jaman</td>
                <td>30</td>
                <td>jaman@example.com</td>
                <td>৳55000</td>
                <td>Business Development Manager</td>
            </tr>
            <tr>
                <td>002</td>
                <td>Mohammad</td>
                <td>25</td>
                <td>mohammad@example.com</td>
                <td>৳44500</td>
                <td>Marketing Executive</td>
            </tr>
            <tr>
                <td>003</td>
                <td>Shan</td>
                <td>40</td>
                <td>shan@example.com</td>
                <td>৳66000</td>
                <td>Market Research Analyst</td>
            </tr>
            <tr>
                <td>004</td>
                <td>Tamim</td>
                <td>35</td>
                <td>tamim@example.com</td>
                <td>৳55500</td>
                <td>Business Analyst</td>
            </tr>
            <tr>
                <td>005</td>
                <td>Rumana Aktar</td>
                <td>28</td>
                <td>rumana@example.com</td>
                <td>৳44800</td>
                <td>Marketing Manager</td>
            </tr>
            <tr>
                <td>006</td>
                <td>Tahmida</td>
                <td>32</td>
                <td>tahmida@example.com</td>
                <td>৳55200</td>
                <td>Business Consultant</td>
            </tr>
            <tr>
                <td>007</td>
                <td>Rahim</td>
                <td>45</td>
                <td>rahim@example.com</td>
                <td>৳66200</td>
                <td>Marketing Director</td>
            </tr>
            <tr>
                <td>008</td>
                <td>Menhaj</td>
                <td>29</td>
                <td>menhaj@example.com</td>
                <td>৳44900</td>
                <td>Business Development Executive</td>
            </tr>
        </tbody>
    </table>
</div>
<!--End of Employee Table-->
<!--End of Main Body Content-->