@using InventoryManagement.Models;
@using System.Data;

@{
    ViewBag.Title = "Dashboard";
}
<style>
    .cart-sidebar {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        max-height: calc(100vh - 60px);
        background-color: white;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s;
        z-index: 1000;
        padding: 15px;
        overflow-y: auto;
    }

        .cart-sidebar.open {
            right: 0;
        }

    .cart-sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>


<script src="~/Scripts/CustomScript/productService.js"></script>
<script src="~/Scripts/CustomScript/productController.js"></script>

<script>
    $(document).ready(function () {
        $('#cart-icon').click(function () {
            $('#cart-sidebar').addClass('open');
            var currentCart = getCart();
            console.log("Current cart when opening sidebar: ", currentCart);

            updateCartView(currentCart); 
        });
        $('#close-cart-sidebar').click(function () {
            $('#cart-sidebar').removeClass('open');
        });
    });
</script>




<!-- Cart Sidebar -->
<div id="cart-sidebar" class="cart-sidebar">
    <div class="cart-sidebar-header">
        <h5>Shopping Cart</h5>
        <button type="button" id="close-cart-sidebar" class="btn btn-secondary">Close</button>
    </div>
    <div id="cart-items">
        <p>Your cart is empty.</p>
    </div>
</div>

<input type="submit" name="btnAddNew" id="btnAddNew" onclick="return showProductEntryPanel()" value="Add New" />
@Html.Partial("~/Views/Home/_PartialProductEntryPanel.cshtml")

<form id="productForm" action="/Home/Dashboard" method="post">
    <input type="hidden" id="productId" name="productId" value="" />
    <input type="hidden" id="btnSubmit" name="btnSubmit" value="" />

    <div class="row">
        <div class="col col-sm-12">
            <table id="productTable" class="display">
                <thead>
                    <tr>
                        <th>ProductID</th>
                        <th>SerialNumber</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Entry Date</th>
                        <th>Price</th>
                        <th>Warranty Days</th>
                        <th>Category</th>
                        <th>Vendor</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</form>

<div class="row">
    <div class="col col-12">
        <table id="orderHistoryTable" class="display">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer Name</th>
                    <th>Customer Mobile</th>
                    <th>Product S/N</th>
                    <th>Product Name</th>
                    <th>Vendor Name</th>
                    <th>Order Date</th>
                    <th>Amount</th>
                    <th>Sold by</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#orderHistoryTable').DataTable({
            "ajax": {
                "url": '/Home/GetOrderHistory',
                "dataSrc": ''
            },
            "columns": [
                { "data": 'OrderID' },
                { "data": 'CustomerName' },
                { "data": 'CustomerMobile' },
                { "data": 'SerialNumber' },
                { "data": 'ProductName' },
                { "data": 'VendorName' },
                { "data": 'OrderDate' },
                { "data": 'Amount', "render": $.fn.dataTable.render.number(',', '.', 2, 'BDT:') },
                { "data": 'SoldBy' }
            ]
        });
    });
</script>