@using InventoryManagement.Models;
@using System.Data;

@{
    ViewBag.Title = "Dashboard";
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<script src="~/Scripts/CustomScript/product.js"></script>

<script>

    //Product Entry Panel
    function showProductEntryPanel() {
        $("#showProductEntryPanel").dialog({
            resizable: false,
            height: 500,
            width: 1000,
            modal: true
        });
        return false;  // to prevent post-back
    }

</script>



<input type="submit" name="btnAddNew" id="btnAddNew" onclick="return showProductEntryPanel()" value="Add New" />
@Html.Partial("~/Views/Home/_PartialProductEntryPanel.cshtml")


<form id="productForm" action="/Home/Dashboard" method="post">
    <input type="hidden" id="productId" name="productId" value="" />
    <input type="hidden" id="btnSubmit" name="btnSubmit" value="" />

    <div class="row">
        <div class="col col-sm-12">
            <table id="productTable" class="">
                <thead>
                    <tr>
                        <th>ProductID</th>
                        <th>SerialNumber</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Entry Date</th>
                        <th>Price</th>
                        <th>Warranty Days</th>
                        <th>Category</th>
                        <th>Vendor</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>


